@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* font-family: 'Russo One', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: rgb(50, 50, 50);
    font-family: 'Racing Sans One', cursive;
}

.cusCarousel{
    /* height: 800px; */
}

.imgCarousel{
    object-fit: cover;
    height: 40vh;
}
.botonNav{
    border: none;
}


/* CATEGORIA 1 */
.podio{
    height: 40vh;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.imgPodio{
    border-radius: 20px;
    background-color: rgb(190, 190, 202);
    width: 30vw;
    height: 80%;

}