@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* font-family: 'Russo One', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: rgb(50, 50, 50);
    font-family: 'Racing Sans One', cursive;
}



.imgCarousel{
    object-fit: cover;
    height: 40vh;
}
.botonNav{
    border: none;
}


/* CATEGORIA 1 */

/* PODIO */
.categoriaUno{
    background: rgb(178,31,102);
    background: linear-gradient(159deg, rgba(178,31,102,1) 4%, rgba(56,20,96,1) 73%);
}

.podio{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.pcategoria{
    font-size: 3rem;
}

.divPodio{
    border-radius: 20px;
    background-color: rgb(190, 190, 202);
    width: 30vw;
    height: 80%;
    background-image: url(img/1_39.png);
    background-size: cover;
    background-position-x: center;
}

.pPodio{
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

#imgPrimero:hover{
    transition: all 1s ease;
    background-image: url(img/road-in-forest.jpg);
}

#imgSegundo:hover{
    transition: all 1s ;
    background-image: url(img/road-in-forest.jpg);
}

#imgTercero:hover{
    transition: all 1s;
    background-image: url(img/road-in-forest.jpg);
}

/* PUESTOS */
.secPuestos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.puestos{
    height: 6vh;
    width: 80%;
    background-color: #FE346E;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding-top: 0.4rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 8px 10px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
    transition: all 1s ease;
}

.puestos:hover{
    transform: scale(1.2);

}

.puesto{
    background-color: #fff;
    width: 3rem;
    height: 80%;
    border-radius: 10px;
    color: #FFBD69;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombrePuesto{
    background-color: #fff;
    color: #381460;
    height: 80%;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntosPuesto{
    background-color: #fff;
    height: 80%;
    width: 5rem;
    border-radius: 10px;
    color: #381460;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}




/* Paleta de colores https://colorhunt.co/palette/2525256930c364dfdf80ffdb 
https://colorhunt.co/palette/381460b21f66fe346effbd69*/



/* MEDIA QUERIS */

@media (max-width: 608px) {
    .nombrePuesto{
        font-size: 1.6rem;
        padding-top: 0.3rem;
    }
    .podio{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
    #imgSegundo{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #imgPrimero{
        grid-column: 2/3;
    grid-row: 1/2;
    }
    #imgTercero{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .pPodio{
        font-size: 1rem;
    }
  }

  @media (max-width: 495px) {
    .nombrePuesto{
        font-size: 1.3rem;
        padding-top: 0.5rem;
    }
  }

  @media (max-width: 414px) {
    .nombrePuesto{
        font-size: 1.2rem;
        padding-top: 0rem;
        line-height: normal;
    }
    .puntosPuesto{
        width: 3rem;
    }
  }

  @media (max-width: 370px) {
    .nombrePuesto{
        font-size: 1.1rem;
        padding-top: 0.2rem;
        line-height: normal;
    }
  }
